{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_missing_spec,
    warn_untyped_record
]}.
{deps, [
    {fitter, {git, "https://github.com/shizzard/fitter.git", {tag, "0.3.1"}}}
]}.
{dialyzer, [
    {warnings, [
        unmatched_returns, error_handling,
        race_conditions, overspecs, underspecs, specdiffs
    ]},
    {plt_apps, all_deps},
    {plt_extra_apps, [fitter]}
]}.
{relx, [
    {release, {ex_banking, "0.1.0"}, [
        sasl,
        fitter, ex_banking
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}]
}.

{profiles, [
    {prod, [
        {relx, [{dev_mode, false}, {include_erts, true}]}
    ]}
]}.
