[
    {ex_banking, [
        {shards_count, 8}
    ]},
    {lager, [
        {handlers, [
            {lager_console_backend, [
                {level, info},
                {formatter, lager_default_formatter},
                {formatter_config, [
                    severity, " ", date, "T", time, "Z", " [",
                    {module, "?"}, ":",
                    {line, "?"}, "@",
                    {pid,"<?.?.?>"},
                    "] ", message, "\n"
                ]}
            ]}
        ]}
    ]}
].
